hf-cache/
ASR/
envs/
.autodl/
**/*.hdf5
**/*.h5
**/*.incomplete
openvla-oft/runs_depthvla_*
openvla-oft/experiments/logs/
LIBERO/libero/datasets/
__pycache__/
**/__pycache__/
*.pyc
*.aux
*.log
*.out
*.pth
*.pt
*.safetensors
*.bin
*.tar.gz
openvla-oft/runs_rlbench_*/
openvla-oft/runs_depth_fix/
